nav.sub-bar {
    font-size: 0.6em;
}

ul.user-list {
    height: calc(100vh - 250px);
    background:rgba(211, 211, 211, 0.3);
    overflow: hidden;
    overflow-y: auto;
}

ul.user-list::-webkit-scrollbar {
    width: 0.5em;
}

ul.user-list::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 50px;
    outline: 1px solid grey;
}

ul.user-list img{
    height: 50px;
    width: 50px;
}